Tests: build-default-image
Depends: live-build
Restrictions: allow-stderr, needs-internet, needs-root

Tests: build-stable-image
Depends: live-build
Restrictions: allow-stderr, needs-internet, needs-root
